.App {
  text-align: center;
}
/* details page */

.movie-details{
  background-color:whitesmoke
}

.movie-details .title p{
  text-shadow: 2px 2px black;
  font-weight: bolder;
  font-size:50px;
  font-family: tahoma;
}

.movie-details .fa-star{
  color:#E7DF32;
  text-shadow:1px 1px black;
  font-size:16px;
}
